
.form-group{
  .form-control{
      padding: 10px 5px 12px 20px !important;
    }
  .submit-btn{
    right: 5px;
    top: 3px;
  }
}
.footer-widget-menu{
  ul{
    li{
      a{
        &:hover{
          color: #fff;
        }
      }
    }
  }
  
}